@page "{handler?}"
@model CurrentVariablesModel
@using Utility
@using static Utility.UtilityFunctions
@inject IRepository repository

@{
    ViewData["Title"] = "Current Month Paremeters";
    ViewData["Name"] = "CurrentVariables";

    var allPersonnelCount = Model.PersonnelCurrentPayrolls.Count();
    var personnelWithPayrollVariablesSetCount = await repository.GetNumberOfCurrentPayrolls();
    var personnelWithoutPayrollVariablesSetCount = allPersonnelCount - personnelWithPayrollVariablesSetCount;

    var allEmployeeStr = "All Employees";
    var allEmployeeWithCurrentPayrollStr = "Personnels with current variables";
    var allEmployeeWithoutCurrentPayrollStr = "Personnels without current variables";
}

<div class="page-header">
    <div class="page-title">
        <h3>Current Month Payroll Variables</h3>
    </div>
</div>
@section StyleSheets{
    <link rel="stylesheet" href="~/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/flatpickr/flatpickr.css">
    <link href="~/assets/css/forms/switches.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/components/tabs-accordion/custom-accordions.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/components/calendarAndTimeIcon.css" rel="stylesheet" type="text/css" />
}

<input type="text" hidden id="message-body" value="@Model.MessageBody.GetHtmlString()">
<input type="text" hidden id="message-title" value="@Model.MessageTitle">
<input type="text" hidden id="message-icon" value="@Model.MessageIcon">

<div class="row d-flex justify-content-end mt-3">
    <div class="col-sm-12 col-md-4 layout-spacing">
        <div class="widget widget-card-four">
            <a data-toggle="modal" data-query="AllPlusPayroll" data-title="@allEmployeeStr" data-target="#personnelPayrollTableModal" class="">
                <div class="widget-content">
                    <div class="w-content">
                        <div class="w-info">
                            <h6 class="value">@allPersonnelCount</h6>
                            <p>@allEmployeeStr</p>
                        </div>
                        <div class="">
                            <div class="w-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 layout-spacing">
        <div class="widget widget-card-four">
            <div class="widget-content">
                <a data-toggle="modal" data-query="HasCurrentPayroll" data-title="@allEmployeeWithCurrentPayrollStr" data-target="#personnelPayrollTableModal" class="">
                    <div class="w-content">
                        <div class="w-info">
                            <h6 class="value">@personnelWithPayrollVariablesSetCount</h6>
                            <p class="">@allEmployeeWithCurrentPayrollStr</p>
                        </div>
                        <div class="">
                            <div class="w-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-check"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><polyline points="17 11 19 13 23 9"></polyline></svg>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 layout-spacing">
        <div class="widget widget-card-four">
            <a data-toggle="modal" data-query="HasNoCurrentPayroll" data-title="@allEmployeeWithoutCurrentPayrollStr" data-target="#personnelPayrollTableModal" class="">
                <div class="widget-content">
                    <div class="w-content">
                        <div class="w-info">
                            <h6 class="value">@personnelWithoutPayrollVariablesSetCount</h6>
                            <p class="">@allEmployeeWithoutCurrentPayrollStr</p>
                        </div>
                        <div class="">
                            <div class="w-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-minus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row" id="cancel-row">

    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
        <div class="widget-content widget-content-area br-6">
            <table id="table" class="display text-left" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>DailyRate</th>
                        <th>DaysWorked</th>
                        <th>Vessel</th>
                        <th>GrossPay</th>
                        <th>NetPay</th>
                        <th>VariablesSet</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var payroll in Model.PersonnelCurrentPayrolls)
                    {
                        <tr>
                            <td class="text-left">
                                <div class="d-flex">
                                    <div class="usr-img-frame mr-2 rounded-circle">
                                        <img alt="avatar" class="img-fluid rounded-circle" src="@GetUserImagePath(payroll.PersonnelPhoto)">
                                    </div>
                                    <p class="align-self-center mb-0 admin-name">@payroll.PersonnelName </p>
                                </div>
                            </td>
                            <td class="text-left">@payroll.DailyRate.ToCurrency()</td>
                            <td class="text-left">@payroll.DaysWorked</td>
                            <td class="text-left">@payroll.Vessel</td>
                            <td class="text-left">@payroll.GrossPay.ToCurrency()</td>
                            <td class="text-left">@payroll.NetPay.ToCurrency()</td>
                            <td class="text-left">
                                @if (payroll.IsPayrollVariablesSet)
                                {
                                    <span class="badge badge-pill badge-success">Completed</span>
                                }
                                else
                                {
                                    <span class="badge badge-pill badge-danger">Pending</span>
                                }
                            </td>
                            <td class="text-left">
                                <a class="btn btn-primary" data-toggle="modal" data-target="#currentPayrollVariablesModal"
                                   data-personnel-id="@payroll.PersonnelId"
                                   data-payroll-id="@payroll.PayrollId">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit">
                                        <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                        <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>DailyRate</th>
                        <th></th>
                        <th>Vessel</th>
                        <th>GrossPay</th>
                        <th>NetPay</th>
                        <th>VariablesSet</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<partial name="/PartialViews/Payroll/_EditPayrollVariablesPartial.cshtml" />
<partial name="/PartialViews/Payroll/_PersonnelPayrollTablesModalPartial.cshtml" />


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @{
        await Html.RenderPartialAsync("/PartialViews/_DataTablesScriptsImport.cshtml");
    }

    @{
        await Html.RenderPartialAsync("/PartialViews/_SweetAlertPartial.cshtml");
    }

    @{
        await Html.RenderPartialAsync("/PartialViews/_BootstrapTouchspinScripts.cshtml");
    }

    <script src="~/plugins/flatpickr/flatpickr.js"></script>
    <script src="~/js/utility.js"></script>
    <script src="~/js/app/currentparameters.js"></script>

}