@page "{handler?}"
@model PayrollModel
@using Domain
@using Utility
@using static Utility.UtilityFunctions
@inject IRepository Repository

@{
    ViewData["Title"] = "Payroll Processing";
    ViewData["Name"] = "Payroll";

    var numberOfProcessedPayroll = await Repository.GetNumberOfAllPayrolls();
    var numberOfActivePersonnels = await Repository.GetNumberOfActivePersonnels();
    var numberOfInactivePersonnels = await Repository.GetNumberOfInctivePersonnels();
}
<div class="page-header">
    <div class="page-title">
        <h3>Payroll Processing</h3>
    </div>
</div>
@section StyleSheets{
    <link rel="stylesheet" type="text/css" href="~/plugins/flatpickr/flatpickr.css">
    <link href="~/assets/css/components/calendarAndTimeIcon.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/pages/payroll/payroll.css" rel="stylesheet" type="text/css" />
}

<input type="text" hidden id="message-body" value="@Model.MessageBody.GetHtmlString()">
<input type="text" hidden id="message-title" value="@Model.MessageTitle">
<input type="text" hidden id="message-icon" value="@Model.MessageIcon">


<div class="row d-flex justify-content-end mt-3">
    <div class="col-sm-12 col-md-4 layout-spacing">
        <div class="widget widget-card-four">
            <div class="widget-content">
                <div class="w-content">
                    <div class="w-info">
                        <h6 class="value">@numberOfProcessedPayroll</h6>
                        <p class="">Payroll Processed</p>
                    </div>
                    <div class="">
                        <div class="w-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 layout-spacing">
        <div class="widget widget-card-four">
            <div class="widget-content">
                <div class="w-content">
                    <div class="w-info">
                        <h6 class="value">@numberOfActivePersonnels</h6>
                        <p class="">Active Employees</p>
                    </div>
                    <div class="">
                        <div class="w-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-check"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><polyline points="17 11 19 13 23 9"></polyline></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 layout-spacing">
        <div class="widget widget-card-four">
            <div class="widget-content">
                <div class="w-content">
                    <div class="w-info">
                        <h6 class="value">@numberOfInactivePersonnels</h6>
                        <p class="">Inactive Employees</p>
                    </div>
                    <div class="">
                        <div class="w-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-minus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="cancel-row">
    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
        <div class="widget-content widget-content-area br-6">
            <table id="table" class="display text-left" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>DailyRate</th>
                        <th>DaysWorked</th>
                        <th>Vessel</th>
                        <th>GrossPay</th>
                        <th>NetPay</th>
                        <th>Period</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>DailyRate</th>
                        <th>DaysWorked</th>
                        <th>Vessel</th>
                        <th>GrossPay</th>
                        <th>NetPay</th>
                        <th>Period</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<partial name="/PartialViews/Payroll/_PayrollPrintModal.cshtml" />

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @{
        await Html.RenderPartialAsync("/PartialViews/_DataTablesScriptsImport.cshtml");
    }

    @{
        await Html.RenderPartialAsync("/PartialViews/_SweetAlertPartial.cshtml");
    }
    <script src="~/plugins/jQueryPrint/jQuery.print.js"></script>
    <script src="~/plugins/flatpickr/flatpickr.js"></script>
    <script src="~/js/towords.js"></script>
    <script src="~/js/utility.js"></script>
    <script src="~/js/app/payroll.js"></script>

}