@page "{handler?}"
@model PersonnelsModel
@using static Utility.UtilityFunctions
@using Utility
@{
    ViewData["Title"] = "Personnels";
    ViewData["Name"] = "Personnels";
}

<div class="page-header">
    <div class="page-title">
        <h3>Personnels</h3>
    </div>
</div>

<div class="row" id="cancel-row">

    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
        <div class="widget-content widget-content-area br-6">
                <table id="table" class="display text-left" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Daily Rate</th>
                                            <th>Sex</th>
                                            <th>Email</th>
                                            <th>Bank</th>
                                            <th>AccountName</th>
                                            <th>AccountNumber</th>
                                            <th>PhoneNumber</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var personnel in Model.Personnels)
                                        {
                                            <tr>
                                             <td class="text-left">
                                                 <a class="text-primary" data-toggle="modal" data-target="#personnelEditModal" data-id="@personnel.Id">
                                                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit">
                                                        <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                                        <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                                                     </svg>
                                                </a>
                                             </td>
                                            <td class="text-left">
                                                <div class="d-flex">                                                        
                                                    <div class="usr-img-frame mr-2 rounded-circle">
                                                        <img alt="avatar" class="img-fluid rounded-circle" src="@GetUserImagePath(personnel?.Photo)">
                                                    </div>
                                                    <p class="align-self-center mb-0 admin-name"> @personnel.Name</p>
                                                </div>
                                            </td>
                                            <td class="text-left">@personnel.DailyRate.ToCurrency()</td>
                                            <td class="text-left">@personnel.Sex</td>
                                            <td class="text-left">@personnel.Email</td> 
                                            <td class="text-left">@personnel.Bank</td>
                                            <td class="text-left">@personnel.AccountName</td>
                                            <td class="text-left">@personnel.AccountNumber</td>
                                            <td class="text-left">@personnel.PhoneNumber</td>
                                        </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                           <th></th>
                                            <th>Name</th>
                                            <th>Daily Rate</th>
                                            <th>Sex</th>
                                            <th>Email</th>
                                            <th>Bank</th>
                                            <th>AccountName</th>
                                            <th>AccountNumber</th>
                                            <th>PhoneNumber</th>
                                        </tr>
                                    </tfoot>
                                </table>
        </div>
    </div>

</div>

<partial name="/PartialViews/Personnel/_PersonnelCreateFormPartial.cshtml" />
<partial name="/PartialViews/Personnel/_PersonnelEditFormPartial.cshtml" />

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @{
        await Html.RenderPartialAsync("/PartialViews/_DataTablesScriptsImport.cshtml");
    }

    <script>
    $(document).ready(function () {
        var message = "@Model.MessageBody.GetHtmlString()";
        var title = "@Model.MessageTitle";
        var type = "@Model.MessageIcon";

        if (message) {
            var span = document.createElement("span");
            span.innerHTML = message;
            swal({
                title: title,
                content: span,
                closeOnClickOutside: false,
                icon: type,
                button: "Ok",
                padding: '2em'

            }).then(function (value) {
                if (message.includes("logout")) {
                    swal({
                        title: "Logout Prompt",
                        text: "Do you want to logout right now?",
                        closeOnClickOutside: false,
                        buttons: {
                            Yes: true,
                            No: true,
                        },
                    }).then(function (value) {
                        switch (value) {
                            case "Yes":
                                location.href = "/";
                                break;
                            default:
                                break;
                        }
                    });
                }
            });
        }
    });
</script>  
    <script src="~/js/countries.js"></script>
    <script src="~/js/banks.js"></script>
    <script src="~/js/app/personnels.js"></script>

}