@page "{handler?}"
@model VesselsModel
@using static Utility.UtilityFunctions
@using Utility
@{
    ViewData["Title"] = "Vessels";
    ViewData["Name"] = "Vessels";
}

<div class="page-header">
    <div class="page-title">
        <h3>Vessels</h3>
    </div>
</div>

<input type="text" hidden id="message-body" value="@Model.MessageBody.GetHtmlString()">
<input type="text" hidden id="message-title" value="@Model.MessageTitle">
<input type="text" hidden id="message-icon" value="@Model.MessageIcon">

<div class="row" id="cancel-row">
    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
        <div class="widget-content widget-content-area br-6">
            <div class="table-responsive-lg">
                <table id="table" class="display" width="100%">
                    <thead>
                        <tr>
                            <th>VesselName</th>
                            <th>DateAdded</th>
                            <th>AddedBy</th>
                            <th>ModifiedBy</th>
                            <th>LastModified</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vessel in Model.Vessels)
                        {
                            <tr>
                                <td>@vessel.Name</td>
                                <td>@vessel.DateAdded</td>
                                <td>@vessel.AddedBy</td>
                                <td>@vessel.ModifiedBy</td>
                                <td>@vessel.LastModified</td>
                                <td class="float-right">
                                    <a class="btn btn-primary" data-toggle="modal" data-target="#vesselEditModal" data-id="@vessel.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit">
                                            <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                            <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                                        </svg>
                                    </a>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#vesselDeleteModal"
                                       data-name="@vessel.Name" data-id="@vessel.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>VesselName</th>
                            <th>DateAdded</th>
                            <th>AddedBy</th>
                            <th>ModifiedBy</th>
                            <th>LastModified</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="/PartialViews/Vessel/_VesselCreationPartial.cshtml" />
<partial name="/PartialViews/Vessel/_VesselEditPartial.cshtml" />
<partial name="/PartialViews/Vessel/_VesselDeletePartial.cshtml" />

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @{
        await Html.RenderPartialAsync("/PartialViews/_DataTablesScriptsImport.cshtml");
    }

    @{
        await Html.RenderPartialAsync("/PartialViews/_SweetAlertPartial.cshtml");
    }

    <script src="~/js/app/vessels.js"></script>

}